copasi/xml/copasi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Begin CVS Header -->
<!--   $Source: /Volumes/Home/Users/shoops/cvs/copasi_dev/copasi/xml/copasi.xsd,v $ -->
<!--   $Revision: 1.60 $ -->
<!--   $Name:  $ -->
<!--   $Author: gauges $ -->
<!--   $Date: 2010/03/10 12:49:44 $ -->
<!-- End CVS Header -->

<!-- Copyright (C) 2010 by Pedro Mendes, Virginia Tech Intellectual -->
<!-- Properties, Inc., University of Heidelberg, and The University -->
<!-- of Manchester. -->
<!-- All rights reserved. -->

<!-- Copyright (C) 2008 by Pedro Mendes, Virginia Tech Intellectual -->
<!-- Properties, Inc., EML Research, gGmbH, University of Heidelberg, -->
<!-- and The University of Manchester. -->
<!-- All rights reserved. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  attributeFormDefault="unqualified">
  <xs:element name="COPASI" id="copasi.COPASI">
    <xs:annotation>
      <xs:documentation>
        <p>The root of a COPASI xml file.</p>
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ListOfFunctions" id="copasi.ListOfFunctions" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              <p>The list of functions used by the current model. If there are no functions in the
                model this element must not occur.</p>
            </xs:documentation>
          </xs:annotation>
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="Function" type="cFUNCTION" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
          <xs:unique name="FunctionName">
            <xs:selector xpath="Function"/>
            <xs:field xpath="@name"/>
          </xs:unique>
        </xs:element>
        <xs:element name="Model" id="copasi.Model" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              <p>The model displayed, edited and used when loading this file. Note, this element may
                not be present as it is perfectly valid to save just a list of functions. </p>
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="cMODEL">
                <xs:sequence>
                  <xs:element name="MiriamAnnotation" type="cMIRIAM" minOccurs="0"/>
                  <xs:element name="Comment" type="cCOMMENT" id="copasi.Model.Comment" minOccurs="0"/>
                  <xs:element name="InitialExpression" type="sEXPRESSION" minOccurs="0"/>
                  <xs:element name="ListOfCompartments" id="copasi.Model.ListOfCompartments"
                    minOccurs="0">
                    <xs:complexType mixed="true">
                      <xs:sequence>
                        <xs:element name="Compartment" id="copasi.Model.Compartment"
                          maxOccurs="unbounded">
                          <xs:complexType>
                            <xs:complexContent>
                              <xs:extension base="cCOMPARTMENT">
                                <xs:sequence>
                                  <xs:element name="MiriamAnnotation" type="cMIRIAM" minOccurs="0"/>
                                  <xs:element name="Expression" type="sEXPRESSION" minOccurs="0"/>
                                  <xs:element name="InitialExpression" type="sEXPRESSION"
                                    minOccurs="0"/>
                                </xs:sequence>
                                <xs:attribute name="dimensionality">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                      <xs:minInclusive value="0"/>
                                      <xs:maxInclusive value="3"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:attribute>
                              </xs:extension>
                            </xs:complexContent>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                    <xs:unique name="CompartmentName">
                      <xs:selector xpath="Compartment"/>
                      <xs:field xpath="@name"/>
                    </xs:unique>
                  </xs:element>
                  <xs:element name="ListOfMetabolites" id="copasi.Model.ListOfMetabolites"
                    minOccurs="0">
                    <xs:complexType mixed="true">
                      <xs:sequence>
                        <xs:element name="Metabolite" id="copasi.Model.Metabolite"
                          maxOccurs="unbounded">
                          <xs:complexType>
                            <xs:complexContent>
                              <xs:extension base="cMETABOLITE">
                                <xs:sequence>
                                  <xs:element name="MiriamAnnotation" type="cMIRIAM" minOccurs="0"/>
                                  <xs:element name="Expression" type="sEXPRESSION" minOccurs="0"/>
                                  <xs:element name="InitialExpression" type="sEXPRESSION"
                                    minOccurs="0"/>
                                </xs:sequence>
                                <xs:attribute name="compartment" type="cCOMPARTMENT_KEYREF"
                                  use="required"/>
                              </xs:extension>
                            </xs:complexContent>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                    <xs:unique name="MetaboliteName">
                      <xs:selector xpath="Metabolite"/>
                      <xs:field xpath="@name"/>
                      <xs:field xpath="@compartment"/>
                    </xs:unique>
                  </xs:element>
                  <xs:element name="ListOfModelValues" id="copasi.Model.ListOfModelValues"
                    minOccurs="0">
                    <xs:complexType mixed="true">
                      <xs:sequence>
                        <xs:element name="ModelValue" id="copasi.Model.ModelValue"
                          maxOccurs="unbounded">
                          <xs:complexType>
                            <xs:complexContent>
                              <xs:extension base="cMODELVALUE">
                                <xs:sequence>
                                  <xs:element name="MiriamAnnotation" type="cMIRIAM" minOccurs="0"/>
                                  <xs:element name="Expression" type="sEXPRESSION" minOccurs="0"/>
                                  <xs:element name="InitialExpression" type="sEXPRESSION"
                                    minOccurs="0"/>
                                </xs:sequence>
                              </xs:extension>
                            </xs:complexContent>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                    <xs:unique name="ModelValueName">
                      <xs:selector xpath="ModelValue"/>
                      <xs:field xpath="@name"/>
                    </xs:unique>
                  </xs:element>
                  <xs:element name="ListOfReactions" id="copasi.Model.ListOfReactions" minOccurs="0">
                    <xs:complexType mixed="true">
                      <xs:sequence>
                        <xs:element name="Reaction" id="copasi.Model.Reaction" maxOccurs="unbounded">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="MiriamAnnotation" type="cMIRIAM" minOccurs="0"/>
                              <xs:element name="ListOfSubstrates" minOccurs="0">
                                <xs:complexType mixed="true">
                                  <xs:sequence>
                                    <xs:element name="Substrate" type="cREACTION_ELEMENT"
                                      id="copasi.Model.Reaction.Substrate" maxOccurs="unbounded"/>
                                  </xs:sequence>
                                </xs:complexType>
                                <xs:unique name="SubstrateName">
                                  <xs:selector xpath="Substrate"/>
                                  <xs:field xpath="@metabolite"/>
                                </xs:unique>
                              </xs:element>
                              <xs:element name="ListOfProducts"
                                id="copasi.Model.Reaction.ListOfProducts" minOccurs="0">
                                <xs:complexType mixed="true">
                                  <xs:sequence>
                                    <xs:element name="Product" type="cREACTION_ELEMENT"
                                      id="copasi.Model.Reaction.Product" maxOccurs="unbounded"/>
                                  </xs:sequence>
                                </xs:complexType>
                                <xs:unique name="ProductName">
                                  <xs:selector xpath="Product"/>
                                  <xs:field xpath="@metabolite"/>
                                </xs:unique>
                              </xs:element>
                              <xs:element name="ListOfModifiers"
                                id="copasi.Model.Reaction.ListOfModifiers" minOccurs="0">
                                <xs:complexType mixed="true">
                                  <xs:sequence>
                                    <xs:element name="Modifier" type="cREACTION_ELEMENT"
                                      id="copasi.Model.Reaction.Modifier" maxOccurs="unbounded"/>
                                  </xs:sequence>
                                </xs:complexType>
                                <xs:unique name="ModifierName">
                                  <xs:selector xpath="Modifier"/>
                                  <xs:field xpath="@metabolite"/>
                                </xs:unique>
                              </xs:element>
                              <xs:element name="ListOfConstants"
                                id="copasi.Model.Reaction.ListOfConstants" minOccurs="0">
                                <xs:complexType mixed="true">
                                  <xs:sequence>
                                    <xs:element name="Constant" type="cCONSTANT"
                                      id="copasi.Model.Reaction.Constant" maxOccurs="unbounded"/>
                                  </xs:sequence>
                                </xs:complexType>
                                <xs:unique name="ConstantName">
                                  <xs:selector xpath="Constant"/>
                                  <xs:field xpath="@name"/>
                                </xs:unique>
                              </xs:element>
                              <xs:element name="KineticLaw" type="cFUNCTION_CALL" minOccurs="0"/>
                            </xs:sequence>
                            <xs:attribute name="key" type="cREACTION_KEY" use="required"
                              id="copasi.Model.Reaction.key"/>
                            <xs:attribute name="name" type="cNAME" use="required"
                              id="copasi.Model.Reaction.name"/>
                            <xs:attribute name="compartment" type="cCOMPARTMENT_KEYREF"
                              use="optional" default="Compartment_00"
                              id="copasi.Model.Reaction.compartment"/>
                            <xs:attribute name="reversible" type="xs:boolean" use="required"
                              id="copasi.Model.Reaction.reversible"/>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                    <xs:unique name="ReactionName">
                      <xs:selector xpath="Reaction"/>
                      <xs:field xpath="@name"/>
                      <xs:field xpath="@compartment"/>
                    </xs:unique>
                  </xs:element>
                  <xs:element name="ListOfEvents" id="copasi.Model.ListOfEvents" minOccurs="0">
                    <xs:complexType mixed="true">
                      <xs:sequence>
                        <xs:element name="Event" id="copasi.Model.Event" maxOccurs="unbounded">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="MiriamAnnotation" type="cMIRIAM" minOccurs="0"/>
                              <xs:element name="TriggerExpression" type="sEXPRESSION"/>
                              <xs:element name="DelayExpression" type="sEXPRESSION" minOccurs="0"/>
                              <xs:element name="ListOfAssignments"
                                id="copasi.Model.ListOfEventAssignments" minOccurs="0">
                                <xs:complexType mixed="true">
                                  <xs:sequence>
                                    <xs:element name="Assignment" id="copasi.Model.EventAssignment"
                                      maxOccurs="unbounded">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="Expression" type="sEXPRESSION"/>
                                        </xs:sequence>
                                        <xs:attribute name="targetKey"
                                          type="cEVENT_ASSIGNMENT_TARGET_KEYREF" use="required"/>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                                <xs:unique name="AssignmentTarget">
                                  <xs:selector xpath="Assignment"/>
                                  <xs:field xpath="@targetKey"/>
                                </xs:unique>
                              </xs:element>
                            </xs:sequence>
                            <xs:attribute name="key" type="cEVENT_KEY" use="required"
                              id="copasi.Model.Event.key"/>
                            <xs:attribute name="name" type="cNAME" use="required"
                              id="copasi.Model.Event.name"/>
                            <xs:attribute name="order" type="xs:nonNegativeInteger" use="required"/>
                            <xs:attribute name="delayAssignment" type="xs:boolean" use="required"
                              id="copasi.Model.Event.delayCalculation"/>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                    <xs:unique name="EventName">
                      <xs:selector xpath="Event"/>
                      <xs:field xpath="@name"/>
                    </xs:unique>
                    <xs:unique name="EventOrder">
                      <xs:selector xpath="Event"/>
                      <xs:field xpath="@order"/>
                    </xs:unique>
                  </xs:element>
                  <xs:element name="StateTemplate" id="copasi.Model.StateTemplate" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="StateTemplateVariable"
                          id="copasi.STATE_TEMPLATE.StateTemplateVariable" minOccurs="0"
                          maxOccurs="unbounded">
                          <xs:complexType>
                            <xs:attribute name="key" type="cSTATE_VARIABLE_KEY" use="optional"
                              id="copasi.STATE_TEMPLATE.StateTemplateVariable.key"/>
                            <xs:attribute name="objectReference" type="cKEYREF" use="required"
                              id="copasi.STATE_TEMPLATE.StateTemplateVariable.objectReference"/>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                    <xs:unique name="StateTemplateVariableObjectReference">
                      <xs:selector xpath="StateTemplateVariable"/>
                      <xs:field xpath="@objectReference"/>
                    </xs:unique>
                  </xs:element>
                  <xs:element name="InitialState" id="copasi.Model.InitialState" minOccurs="0">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="cSTATE_TYPE"/>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="timeUnit" use="required" id="copasi.Model.timeUnit">
                  <xs:annotation>
                    <xs:documentation>
                      <p>The time unit for the model. This is a string which may take one of the
                        following values: d, h, min, s, ms, µs, ns, ps, fs.</p>
                    </xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="d"/>
                      <xs:enumeration value="h"/>
                      <xs:enumeration value="min"/>
                      <xs:enumeration value="s"/>
                      <xs:enumeration value="ms"/>
                      <xs:enumeration value="µs"/>
                      <xs:enumeration value="ns"/>
                      <xs:enumeration value="ps"/>
                      <xs:enumeration value="fs"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="volumeUnit" use="required" id="copasi.Model.volumeUnit">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="m³"/>
                      <xs:enumeration value="l"/>
                      <xs:enumeration value="ml"/>
                      <xs:enumeration value="µl"/>
                      <xs:enumeration value="nl"/>
                      <xs:enumeration value="pl"/>
                      <xs:enumeration value="fl"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="areaUnit">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="m²"/>
                      <xs:enumeration value="dm²"/>
                      <xs:enumeration value="cm²"/>
                      <xs:enumeration value="mm²"/>
                      <xs:enumeration value="µm²"/>
                      <xs:enumeration value="nm²"/>
                      <xs:enumeration value="pm²"/>
                      <xs:enumeration value="fm²"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="lengthUnit">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="m"/>
                      <xs:enumeration value="dm"/>
                      <xs:enumeration value="cm"/>
                      <xs:enumeration value="mm"/>
                      <xs:enumeration value="µm"/>
                      <xs:enumeration value="nm"/>
                      <xs:enumeration value="pm"/>
                      <xs:enumeration value="fm"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="quantityUnit" use="required" id="copasi.Model.quantityUnit">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="mol"/>
                      <xs:enumeration value="mmol"/>
                      <xs:enumeration value="µmol"/>
                      <xs:enumeration value="nmol"/>
                      <xs:enumeration value="pmol"/>
                      <xs:enumeration value="fmol"/>
                      <xs:enumeration value="#"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="type" use="optional" default="deterministic">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="deterministic"/>
                      <xs:enumeration value="stochastic"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="ListOfTasks" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              <p>The list of tasks defined for the current model. If there are no tasks defined this
                element must not occur.</p>
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Task" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Report" type="cREPORT_INSTANTIATION" minOccurs="0"/>
                    <xs:element name="Problem">
                      <xs:complexType>
                        <xs:complexContent>
                          <xs:extension base="cPARAMETER_LIST"/>
                        </xs:complexContent>
                      </xs:complexType>
                      <xs:unique name="ProblemParameterName">
                        <xs:selector xpath="*"/>
                        <xs:field xpath="@name"/>
                      </xs:unique>
                    </xs:element>
                    <xs:element name="Method">
                      <xs:complexType>
                        <xs:complexContent>
                          <xs:extension base="cPARAMETER_LIST">
                            <xs:attribute name="name" type="cNAME" use="required"/>
                            <xs:attribute name="type" type="xs:string" use="required"/>
                          </xs:extension>
                        </xs:complexContent>
                      </xs:complexType>
                      <xs:unique name="MethodParameterName">
                        <xs:selector xpath="Parameter"/>
                        <xs:field xpath="@name"/>
                      </xs:unique>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="key" type="cTASK_KEY" use="required"/>
                  <xs:attribute name="name" type="cNAME" use="required"/>
                  <xs:attribute name="type" type="cTASK_TYPE" use="required"/>
                  <xs:attribute name="scheduled" type="xs:boolean" use="optional" default="false"/>
                  <xs:attribute name="updateModel" type="xs:boolean" use="optional" default="false"
                  />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ListOfReports" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              <p>The list of reports defined for the current model. If there are no reports defined
                this element must not occur.</p>
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Report" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Comment" type="cCOMMENT" minOccurs="0"/>
                    <xs:choice>
                      <xs:element name="Table">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="Object" type="cOBJECT" minOccurs="0"
                              maxOccurs="unbounded"/>
                          </xs:sequence>
                          <xs:attribute name="printTitle" type="xs:boolean" use="optional"
                            default="true"/>
                        </xs:complexType>
                      </xs:element>
                      <xs:sequence>
                        <xs:element name="Header" type="cREPORT_SECTION" minOccurs="0"/>
                        <xs:element name="Body" type="cREPORT_SECTION" minOccurs="0"/>
                        <xs:element name="Footer" type="cREPORT_SECTION" minOccurs="0"/>
                      </xs:sequence>
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="key" type="cREPORT_KEY" use="required"/>
                  <xs:attribute name="name" type="cNAME" use="required"/>
                  <xs:attribute name="taskType" type="cTASK_TYPE" use="required"/>
                  <xs:attribute name="separator" type="xs:string" use="optional" default="  "/>
                  <xs:attribute name="precision" type="xs:unsignedInt" use="optional" default="6"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
          <xs:unique name="ReportName">
            <xs:selector xpath="Rpeort"/>
            <xs:field xpath="@name"/>
          </xs:unique>
        </xs:element>
        <xs:element name="ListOfPlots" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              <p>The list of plots defined for the current model. If there are no plots defined this
                element must not occur.</p>
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PlotSpecification" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:complexContent>
                    <xs:extension base="cPARAMETER_LIST">
                      <xs:sequence>
                        <xs:element name="ListOfPlotItems">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="PlotItem" type="cPLOTITEM" maxOccurs="unbounded"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute name="name" type="cNAME" use="required"/>
                      <xs:attribute name="type" use="required">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="Plot2D"/>
                            <xs:enumeration value="SimWiz"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                      <xs:attribute name="active" type="xs:boolean" use="optional" default="true"/>
                    </xs:extension>
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="GUI" id="copasi.GUI" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              <p>GUI information associated with the model.</p>
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ListOfSliders" id="copasi.GUI.ListOfSliders" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Slider" id="copasi.GUI.ListOfSliders.Sliders"
                      maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="key" type="cSLIDER_KEY" use="required"/>
                        <xs:attribute name="associatedEntityKey" type="cKEYREF" use="required"/>
                        <xs:attribute name="objectCN" type="xs:string" use="required"
                          id="copasi.GUI.ListOfSliders.Sliders.objectCN"/>
                        <xs:attribute name="objectType" use="required"
                          id="copasi.GUI.ListOfSliders.Sliders.objectType">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="float"/>
                              <xs:enumeration value="unsignedFloat"/>
                              <xs:enumeration value="integer"/>
                              <xs:enumeration value="unsignedInteger"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="objectValue" type="xs:double" use="required"
                          id="copasi.GUI.ListOfSliders.Sliders.objectValue"/>
                        <xs:attribute name="minValue" type="xs:double" use="required"
                          id="copasi.GUI.ListOfSliders.Sliders.minValue"/>
                        <xs:attribute name="maxValue" type="xs:double" use="required"
                          id="copasi.GUI.ListOfSliders.Sliders.maxValue"/>
                        <xs:attribute name="tickNumber" type="xs:positiveInteger" use="optional"
                          default="1000"/>
                        <xs:attribute name="tickFactor" type="xs:positiveInteger" use="optional"
                          default="100"/>
                        <xs:attribute name="scaling" use="optional" default="linear">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="linear"/>
                              <xs:enumeration value="logarithmic"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="updateRanges" type="xs:boolean" use="optional" default="true"/>
                  <xs:attribute name="autoExecuteTask" type="xs:boolean" use="optional"
                    default="true"/>
                </xs:complexType>
                <xs:unique name="SliderObject">
                  <xs:selector xpath="Slider"/>
                  <xs:field xpath="@objectCN"/>
                </xs:unique>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ListOfLayouts" id="copasi.ListOfLayouts" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Layout" id="copasi.Layout" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Dimensions" minOccurs="1">
                      <xs:complexType>
                        <xs:attribute name="width" type="xs:double" use="required"/>
                        <xs:attribute name="height" type="xs:double" use="required"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ListOfCompartmentGlyphs" id="copasi.ListOfCompartmentGlyphs" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CompartmentGlyph" id="copasi.CompartmentGlyph" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="BoundingBox" type="cBOUNDING_BOX" minOccurs="1"/>
                              </xs:sequence>
                              <xs:attribute name="key" type="cLAYOUT_OBJECT_KEY" use="required"/>
                              <xs:attribute name="name" type="xs:string" use="optional"/>
                              <xs:attribute name="compartment" type="cKEYREF" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ListOfMetabGlyphs" id="copasi.ListOfMetabGlyphs" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="MetaboliteGlyph" id="copasi.MetabolitGlyph" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="BoundingBox" type="cBOUNDING_BOX" minOccurs="1"/>
                              </xs:sequence>
                              <xs:attribute name="key" type="cLAYOUT_OBJECT_KEY" use="required"/>
                              <xs:attribute name="name" type="xs:string" use="optional"/>
                              <xs:attribute name="metabolite" type="cKEYREF" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ListOfReactionGlyphs" id="copasi.ListOfReactionGlyphs" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ReactionGlyph" id="copasi.ReactionGlyph" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="BoundingBox" type="cBOUNDING_BOX" minOccurs="0"/>
                                <xs:element name="Curve" type="cLAYOUT_CURVE" minOccurs="0"/>
                                <xs:element name="ListOfMetaboliteReferenceGlyphs" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="MetaboliteReferenceGlyph" minOccurs="1" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="BoundingBox" type="cBOUNDING_BOX" minOccurs="0"/>
                                            <xs:element name="Curve" type="cLAYOUT_CURVE" minOccurs="0"/>
                                          </xs:sequence>
                                          <xs:attribute name="key" type="cLAYOUT_OBJECT_KEY" use="required"/>
                                          <xs:attribute name="name" type="xs:string" use="optional"/>
                                          <xs:attribute name="metaboliteGlyph" type="cKEYREF" use="optional"/>
                                          <xs:attribute name="role" type="xs:string" use="optional"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="key" type="cLAYOUT_OBJECT_KEY" use="required"/>
                              <xs:attribute name="name" type="xs:string" use="optional"/>
                              <xs:attribute name="reaction" type="cKEYREF" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ListOfTextGlyphs" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="TextGlyph" minOccurs="1" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="BoundingBox" type="cBOUNDING_BOX" minOccurs="1"/>
                              </xs:sequence>
                              <xs:attribute name="key" type="cLAYOUT_OBJECT_KEY" use="required"/>
                              <xs:attribute name="name" type="xs:string" use="optional"/>
                              <xs:attribute name="graphicalObject" type="cKEYREF" use="optional"/>
                              <xs:attribute name="originOfText" type="cKEYREF" use="optional"/>
                              <xs:attribute name="text" type="xs:string" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ListOfAdditionalGraphicalObjects" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="AdditionalGraphicalObject" minOccurs="1" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="BoundingBox" type="cBOUNDING_BOX" minOccurs="1"/>
                              </xs:sequence>
                              <xs:attribute name="key" type="cLAYOUT_OBJECT_KEY" use="required"/>
                              <xs:attribute name="name" type="xs:string" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ListOfRenderInformation" type="cLIST_OF_LOCAL_RENDER_INFORMATION" minOccurs="0" />
                  </xs:sequence>
                  <xs:attribute name="key" type="cLAYOUT_OBJECT_KEY" use="required"/>
                  <xs:attribute name="name" type="xs:string" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="ListOfGLobalRenderInformation" type="cLIST_OF_GLOBAL_RENDER_INFORMATION" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SBMLReference" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              <p>The list of refernced SBML IDs defined for the current model. If there are no IDs
                defined this element must not occur.</p>
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SBMLMap" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="SBMLid" type="cSBMLid" use="required"/>
                  <xs:attribute name="COPASIkey" type="cKEYREF" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="file" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="versionMajor" type="xs:integer" use="required"/>
      <xs:attribute name="versionMinor" type="xs:integer" use="required"/>
      <xs:attribute name="versionDevel" type="xs:integer" use="required"/>
    </xs:complexType>
    <xs:unique name="ModelStateVariableReference">
      <xs:selector xpath="Model|Model/*/*"/>
      <xs:field xpath="@stateVariable"/>
    </xs:unique>
  </xs:element>
  <xs:complexType name="cMIRIAM" id="copasi.MIRIAM">
    <xs:sequence>
      <xs:any namespace="http://www.w3.org/1999/02/22-rdf-syntax-ns#" processContents="skip"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cCOMMENT" id="copasi.COMMENT">
    <xs:sequence>
      <xs:any namespace="http://www.w3.org/1999/xhtml" processContents="skip" maxOccurs="unbounded"
      />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cCOMPARTMENT">
    <xs:complexContent>
      <xs:restriction base="cMODEL_ENTITY">
        <xs:attribute name="key" type="cCOMPARTMENT_KEY" use="required"/>
        <xs:attribute name="simulationType" type="sSIMULATION_TYPE_COMPARTMENT" use="required"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cCONSTANT" id="copasi.CONSTANT">
    <xs:attribute name="key" type="cCONSTANT_KEY" use="required"/>
    <xs:attribute name="name" type="cNAME" use="required"/>
    <xs:attribute name="value" type="xs:double" use="required"/>
  </xs:complexType>
  <xs:complexType name="cREACTION_ELEMENT" id="copasi.REACTION_ELEMENT">
    <xs:attribute name="metabolite" type="cMETABOLITE_KEYREF" use="required"
      id="copasi.REACTION_ELEMENT.metabolite"/>
    <xs:attribute name="stoichiometry" type="xs:double" use="required"
      id="copasi.REACTION_ELEMENT.stoichiometry"/>
  </xs:complexType>
  <xs:complexType name="cFUNCTION" id="copasi.FUNCTION">
    <xs:sequence>
      <xs:element name="MiriamAnnotation" type="cMIRIAM" minOccurs="0"/>
      <xs:element name="Expression" type="sEXPRESSION"/>
      <xs:element name="ListOfParameterDescriptions"
        id="copasi.FUNCTION.ListOfParameterDescriptions" minOccurs="0">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:element name="ParameterDescription" type="cFUNCTION_PARAMETER"
              id="copasi.FUNCTION.ParameterDescription" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
        <xs:unique name="ParameterDescriptionName">
          <xs:selector xpath="ParameterDescription"/>
          <xs:field xpath="@name"/>
        </xs:unique>
        <xs:unique name="ParameterDescriptionOrder">
          <xs:selector xpath="ParameterDescription"/>
          <xs:field xpath="@order"/>
        </xs:unique>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="key" type="cFUNCTION_KEY" use="required" id="copasi.FUNCTION.key"/>
    <xs:attribute name="name" type="cNAME" use="required" id="copasi.FUNCTION.name"/>
    <xs:attribute name="type" use="required" id="copasi.FUNCTION.type">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Function"/>
          <xs:enumeration value="Expression"/>
          <xs:enumeration value="MassAction"/>
          <xs:enumeration value="PreDefined"/>
          <xs:enumeration value="UserDefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="reversible" use="optional" default="unspecified">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="unspecified"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="sbmlid" type="xs:string" use="optional" id="copasi.FUNCTION.sbmlid"/>
  </xs:complexType>
  <xs:complexType name="cFUNCTION_PARAMETER" id="copasi.FUNCTION_PARAMETER">
    <xs:attribute name="key" type="cFUNCTION_PARAMETER_KEY" use="required"
      id="copasi.FUNCTION_PARAMETER.key"/>
    <xs:attribute name="name" type="cNAME" use="required" id="copasi.FUNCTION_PARAMETER.name"/>
    <xs:attribute name="order" type="xs:nonNegativeInteger" use="required"
      id="copasi.FUNCTION_PARAMETER.order"/>
    <xs:attribute name="role" use="optional" default="variable" id="copasi.FUNCTION_PARAMETER.role">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="substrate"/>
          <xs:enumeration value="product"/>
          <xs:enumeration value="modifier"/>
          <xs:enumeration value="constant"/>
          <xs:enumeration value="volume"/>
          <xs:enumeration value="time"/>
          <xs:enumeration value="variable"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="minOccurs" type="xs:nonNegativeInteger" use="optional" default="1"
      id="copasi.FUNCTION_PARAMETER.minOccurs"/>
    <xs:attribute name="maxOccurs" use="optional" default="1"
      id="copasi.FUNCTION_PARAMETER.maxOccurs">
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="unbounded"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:nonNegativeInteger"/>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="cFUNCTION_CALL" id="copasi.FUNCTION_CALL">
    <xs:sequence>
      <xs:element name="ListOfCallParameters" id="copasi.FUNCTION.ListOfCallParameters"
        minOccurs="0">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:element name="CallParameter" type="cFUNCTION_CALL_PARAMETER"
              id="copasi.FUNCTION_CALL.ListOfCallParameters.CallParameter" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
        <xs:unique name="CallParameterName">
          <xs:selector xpath="CallParameter"/>
          <xs:field xpath="@functionParameter"/>
        </xs:unique>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="function" type="cFUNCTION_KEYREF" use="required"
      id="copasi.FUNCTION_CALL.function"/>
  </xs:complexType>
  <xs:complexType name="cFUNCTION_CALL_PARAMETER" id="copasi.FUNCTION_CALL_PARAMETER">
    <xs:sequence>
      <xs:element name="SourceParameter" id="copasi.FUNCTION_CALL_PARAMETER.SourceParameter"
        maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="reference" type="cKEYREF" use="required"
            id="copasi.FUNCTION_CALL_PARAMETER.SourceParameter.reference"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="functionParameter" type="cFUNCTION_PARAMETER_KEYREF" use="required"
      id="copasi.FUNCTION_CALL_PARAMETER.functionParameter"/>
  </xs:complexType>
  <xs:complexType name="cMETABOLITE">
    <xs:complexContent>
      <xs:restriction base="cMODEL_ENTITY">
        <xs:attribute name="key" type="cMETABOLITE_KEY" use="required"/>
        <xs:attribute name="simulationType" type="sSIMULATION_TYPE_METABOLITE" use="required"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cMODEL">
    <xs:complexContent>
      <xs:restriction base="cMODEL_ENTITY">
        <xs:attribute name="key" type="cMODEL_KEY" use="required"/>
        <xs:attribute name="simulationType" type="sSIMULATION_TYPE_MODEL" default="time"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cMODELVALUE">
    <xs:complexContent>
      <xs:restriction base="cMODEL_ENTITY">
        <xs:attribute name="key" type="cMODELVALUE_KEY" use="required"/>
        <xs:attribute name="simulationType" type="sSIMULATION_TYPE_MODELVALUE" use="required"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cMODEL_ENTITY" abstract="true">
    <xs:attribute name="key" type="cKEY" use="required"/>
    <xs:attribute name="name" type="cNAME" use="required"/>
    <xs:attribute name="simulationType" type="sSIMULATION_TYPE" use="optional"/>
  </xs:complexType>
  <xs:complexType name="cOBJECT">
    <xs:attribute name="cn" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:simpleType name="cSTATE">
    <xs:list itemType="xs:double"/>
  </xs:simpleType>
  <xs:complexType name="cSTATE_TYPE">
    <xs:simpleContent>
      <xs:extension base="cSTATE">
        <xs:attribute name="type" type="xs:string" use="optional" default="initialState"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="cPARAMETER">
    <xs:attribute name="name" type="cNAME" use="required"/>
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="float"/>
          <xs:enumeration value="unsignedFloat"/>
          <xs:enumeration value="integer"/>
          <xs:enumeration value="unsignedInteger"/>
          <xs:enumeration value="bool"/>
          <xs:enumeration value="group"/>
          <xs:enumeration value="string"/>
          <xs:enumeration value="cn"/>
          <xs:enumeration value="key"/>
          <xs:enumeration value="file"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="value" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:complexType name="cPARAMETER_LIST">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="ParameterGroup">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="cPARAMETER_LIST">
              <xs:attribute name="name" type="cNAME" use="required"/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="Parameter" type="cPARAMETER"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="cREPORT_SECTION">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="Object" type="cOBJECT"/>
      <xs:element name="html" type="cCOMMENT"/>
      <xs:element name="Report" type="cREPORT_KEYREF"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="cREPORT_INSTANTIATION">
    <xs:attribute name="reference" type="cREPORT_KEYREF" use="required"/>
    <xs:attribute name="target" type="xs:anyURI" use="required"/>
    <xs:attribute name="append" type="xs:boolean" use="optional" default="false"/>
  </xs:complexType>
  <xs:complexType name="cPLOTITEM">
    <xs:complexContent>
      <xs:extension base="cPARAMETER_LIST">
        <xs:sequence>
          <xs:element name="ListOfChannels">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="ChannelSpec" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:complexContent>
                      <xs:extension base="cOBJECT">
                        <xs:attribute name="min" type="xs:double" use="optional"/>
                        <xs:attribute name="max" type="xs:double" use="optional"/>
                      </xs:extension>
                    </xs:complexContent>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="name" type="cNAME" use="required"/>
        <xs:attribute name="type" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Unset"/>
              <xs:enumeration value="Curve2D"/>
              <xs:enumeration value="Histogram1DItem"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="cKEY" id="copasi.KEY">
    <xs:restriction base="xs:ID">
      <xs:pattern value="[_a-zA-Z]+_\d+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cSBMLid" id="copasi.SBMLid">
    <xs:restriction base="xs:ID">
      <xs:pattern value="[_a-zA-Z][_a-zA-Z0-9]*"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- I need two simple data types for the render extension that -->
  <!-- look like SBML ids, but that are not derived from ID. -->
  <xs:simpleType name="cSBMLPseudoId" id="copasi.SBMLPseudoId">
  	<xs:restriction base="xs:string">
      <xs:pattern value="[_a-zA-Z][_a-zA-Z0-9]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cSBMLPseudoIdRef" id="copasi.SBMLPseudoIdRef">
    <xs:restriction base="xs:string">
      <xs:pattern value="[_a-zA-Z][_a-zA-Z0-9]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cMODEL_KEY" id="copasi.MODEL_KEY">
    <xs:restriction base="cKEY">
      <xs:pattern value="Model_\d+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cCOMPARTMENT_KEY" id="copasi.COMPARTMENT_KEY">
    <xs:restriction base="cKEY">
      <xs:pattern value="Compartment_\d+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cMETABOLITE_KEY" id="copasi.METABOLITE_KEY">
    <xs:restriction base="cKEY">
      <xs:pattern value="Metabolite_\d+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cMODELVALUE_KEY" id="copasi.MODELVALUE_KEY">
    <xs:restriction base="cKEY">
      <xs:pattern value="ModelValue_\d+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cREACTION_KEY" id="copasi.REACTION_KEY">
    <xs:restriction base="cKEY">
      <xs:pattern value="Reaction_\d+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cEVENT_KEY" id="copasi.EVENT_KEY">
    <xs:restriction base="cKEY">
      <xs:pattern value="Event_\d+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cFUNCTION_KEY" id="copasi.FUNCTION_KEY" final="restriction">
    <xs:restriction base="cKEY">
      <xs:pattern value="Function_\d+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cFUNCTION_PARAMETER_KEY" id="copasi.FUNCTION_PARAMETER_KEY">
    <xs:restriction base="cKEY">
      <xs:pattern value="FunctionParameter_\d+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cCONSTANT_KEY">
    <xs:restriction base="cKEY">
      <xs:pattern value="Parameter_\d+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cSTATE_VARIABLE_KEY">
    <xs:restriction base="cKEY">
      <xs:pattern value="StateVariable_\d+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cREPORT_KEY">
    <xs:restriction base="cKEY">
      <xs:pattern value="Report_\d+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cTASK_KEY">
    <xs:restriction base="cKEY">
      <xs:pattern value="Task_\d+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cSLIDER_KEY">
    <xs:restriction base="cKEY">
      <xs:pattern value="Slider_\d+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cKEYREF" id="copasi.KEYREF">
    <xs:restriction base="xs:IDREF">
      <xs:pattern value="[_a-zA-Z]+_\d+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cMODEL_KEYREF" id="copasi.MODEL_KEYREF">
    <xs:restriction base="cKEYREF">
      <xs:pattern value="Model_\d+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cCOMPARTMENT_KEYREF" id="copasi.COMPARTMENT_KEYREF">
    <xs:restriction base="cKEYREF">
      <xs:pattern value="Compartment_\d+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cMETABOLITE_KEYREF" id="copasi.METABOLITE_KEYREF">
    <xs:restriction base="cKEYREF">
      <xs:pattern value="Metabolite_\d+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cEVENT_ASSIGNMENT_TARGET_KEYREF" id="copasi.EVENT_ASSIGNMENT_TARGET_KEYREF">
    <xs:restriction base="cKEYREF">
      <xs:pattern value="(Metabolite|Compartment|ModelValue)_\d+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cREACTION_KEYREF" id="copasi.REACTION_KEYREF">
    <xs:restriction base="cKEYREF">
      <xs:pattern value="Reaction_\d+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cFUNCTION_KEYREF" id="copasi.FUNCTION_KEYREF">
    <xs:restriction base="cKEYREF">
      <xs:pattern value="Function_\d+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cFUNCTION_PARAMETER_KEYREF" id="copasi.FUNCTION_PARAMETER_KEYREF">
    <xs:restriction base="cKEYREF">
      <xs:pattern value="FunctionParameter_\d+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cCONSTANT_KEYREF">
    <xs:restriction base="cKEYREF">
      <xs:pattern value="Parameter_\d+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cSTATE_VARIABLE_KEYREF">
    <xs:restriction base="cKEYREF">
      <xs:pattern value="StateVariable_\d+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cREPORT_KEYREF">
    <xs:restriction base="cKEYREF">
      <xs:pattern value="Report_\d+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cTASK_KEYREF">
    <xs:restriction base="cKEYREF">
      <xs:pattern value="Task_\d+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cSLIDER_KEYREF">
    <xs:restriction base="cKEYREF">
      <xs:pattern value="Slider_\d+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cTASK_TYPE">
    <xs:restriction base="xs:string">
      <xs:enumeration value="steadyState"/>
      <xs:enumeration value="timeCourse"/>
      <xs:enumeration value="scan"/>
      <xs:enumeration value="fluxMode"/>
      <xs:enumeration value="optimization"/>
      <xs:enumeration value="parameterFitting"/>
      <xs:enumeration value="metabolicControlAnalysis"/>
      <xs:enumeration value="timeScaleSeparation"/>
      <xs:enumeration value="lyapunovExponents"/>
      <xs:enumeration value="sensitivities"/>
      <xs:enumeration value="moieties"/>
      <xs:enumeration value="timeScaleSeparationAnalysis"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cNAME" id="copasi.NAME">
    <xs:restriction base="xs:string">
      <xs:pattern value="[\S ]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="sEXPRESSION" final="restriction">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="sSIMULATION_TYPE">
    <xs:restriction base="xs:string">
      <xs:enumeration value="time"/>
      <xs:enumeration value="reactions"/>
      <xs:enumeration value="ode"/>
      <xs:enumeration value="assignment"/>
      <xs:enumeration value="fixed"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="sSIMULATION_TYPE_COMPARTMENT">
    <xs:restriction base="sSIMULATION_TYPE">
      <xs:pattern value="ode|assignment|fixed"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="sSIMULATION_TYPE_METABOLITE">
    <xs:restriction base="sSIMULATION_TYPE">
      <xs:pattern value="reactions|ode|assignment|fixed"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="sSIMULATION_TYPE_MODEL">
    <xs:restriction base="sSIMULATION_TYPE">
      <xs:pattern value="time"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="sSIMULATION_TYPE_MODELVALUE">
    <xs:restriction base="sSIMULATION_TYPE">
      <xs:pattern value="ode|assignment|fixed"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cLAYOUT_OBJECT_KEY" id="copasi.LAYOUT_OBJECT_KEY">
    <xs:restriction base="cKEY">
      <xs:pattern value="Layout_\d+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="cBOUNDING_BOX">
    <xs:sequence>
      <xs:element name="Position" minOccurs="1">
        <xs:complexType>
          <xs:attribute name="x" type="xs:double" use="required"/>
          <xs:attribute name="y" type="xs:double" use="required"/>
          <xs:attribute name="z" type="xs:double" use="optional" default="0.0"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="Dimensions" minOccurs="1">
        <xs:complexType>
          <xs:attribute name="width" type="xs:double" use="required"/>
          <xs:attribute name="height" type="xs:double" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cLAYOUT_POINT">
    <xs:attribute name="x" type="xs:double" use="required"/>
    <xs:attribute name="y" type="xs:double" use="required"/>
    <xs:attribute name="z" type="xs:double" use="optional" default="0.0"/>
  </xs:complexType>
  <xs:complexType name="LineSegment">
    <xs:sequence>
      <xs:element name="Start" type="cLAYOUT_POINT"/>
      <xs:element name="End" type="cLAYOUT_POINT"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CubicBezier">
    <xs:complexContent>
      <xs:extension base="LineSegment">
        <xs:sequence>
          <xs:element name="BasePoint1" type="cLAYOUT_POINT" minOccurs="0"/>
          <xs:element name="BasePoint2" type="cLAYOUT_POINT" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cLAYOUT_CURVE">
    <xs:sequence>
      <xs:element name="ListOfCurveSegments" minOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CurveSegment" type="LineSegment" minOccurs="1" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="cTRANSFORMATION">
    <xs:attribute name="transform">
      <xs:simpleType>
      	<xs:restriction base="xs:string">
      	  <!-- pattern for 6 or 12 comma separated floating point values -->	
      	  <xs:pattern value="((\s*[+-]?[0-9]*(\.[0-9]*)?([eE][+-]?[0-9]+)?\s*,){5}|(\s*[+-]?[0-9]*(\.[0-9]*)?([eE][+-]?[0-9]+)?\s*,){11})(\s*[+-]?[0-9]*(\.[0-9]*)?([eE][+-]?[0-9]+)?\s*)" />
      	</xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  
  <!-- data type for key, role and type lists -->
  <xs:simpleType name="cCommaSeparatedStringList">
    <xs:restriction base="xs:string">
      <!-- pattern for a komma separated list of string. -->
      <!-- the list may also be empty -->	
      <xs:pattern value="^(\s*\S+\s*,)*(\s*\S+\s*)?" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="cGRAPHICAL_PRIMITIVE1D">
    <xs:complexContent>
      <xs:extension base="cTRANSFORMATION">
       <xs:attribute name="stroke" type="cCOLOR_VALUE_OR_ID" use="optional" />
       <xs:attribute name="stroke-width" type="xs:double" use="optional" />
       <xs:attribute name="stroke-dasharray" use="optional">
         <xs:simpleType>
         	<xs:list itemType="xs:integer" />
         </xs:simpleType>
       </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="cGRAPHICAL_PRIMITIVE2D">
    <xs:complexContent>
      <xs:extension base="cGRAPHICAL_PRIMITIVE1D">
       <xs:attribute name="fill" type="cCOLOR_VALUE_OR_ID" use="optional" />
       <xs:attribute name="fill-rule" use="optional">
         <xs:simpleType>
           <xs:restriction base="xs:string">
             <xs:enumeration value="nonzero" />
             <xs:enumeration value="evenodd" />
           </xs:restriction>
         </xs:simpleType>
       </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:simpleType name="cREL_ABS_VALUE">
    <xs:restriction base="xs:string">
      <xs:pattern value="\s*((([+-]?[0-9]*(\.[0-9]*)?([eE][+-]?[0-9]+)?)([+-][0-9]*(\.[0-9]*)?([eE][+-]?[0-9]+)?%))|([+-]?[0-9]*(\.[0-9]*)?([eE][+-]?[0-9]+)?%?))\s*" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="cFONT_STYLE" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="normal" />
      <xs:enumeration value="italic" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="cFONT_WEIGHT" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="normal" />
      <xs:enumeration value="bold" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="cTEXT_ANCHOR" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="start" />
      <xs:enumeration value="middle" />
      <xs:enumeration value="end" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="cVTEXT_ANCHOR" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="top" />
      <xs:enumeration value="middle" />
      <xs:enumeration value="bottom" />
    </xs:restriction>
  </xs:simpleType>


  <xs:complexType name="cIMAGE">
    <xs:complexContent>
      <xs:extension base="cTRANSFORMATION">
       <xs:attribute name="x" type="cREL_ABS_VALUE" use="required" />
       <xs:attribute name="y" type="cREL_ABS_VALUE" use="required" />
       <xs:attribute name="z" type="cREL_ABS_VALUE" use="optional" default="0.0" />
       <xs:attribute name="width" type="cREL_ABS_VALUE" use="required" />
       <xs:attribute name="height" type="cREL_ABS_VALUE" use="required" />
       <xs:attribute name="href" type="xs:string" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="cTEXT" mixed="true">
    <xs:complexContent>
      <xs:extension base="cGRAPHICAL_PRIMITIVE1D">
       <xs:attribute name="x" type="cREL_ABS_VALUE" use="required" />
       <xs:attribute name="y" type="cREL_ABS_VALUE" use="required" />
       <xs:attribute name="z" type="cREL_ABS_VALUE" use="optional" default="0.0" />
       <xs:attribute name="font-family" type="cREL_ABS_VALUE" use="optional" />
       <xs:attribute name="font-size" type="cREL_ABS_VALUE" use="optional" />
       <xs:attribute name="font-style" type="cFONT_STYLE" use="optional" />
       <xs:attribute name="font-weight" type="cFONT_WEIGHT" use="optional" />
       <xs:attribute name="text-anchor" type="cTEXT_ANCHOR" use="optional" />
       <xs:attribute name="vtext-anchor" type="cVTEXT_ANCHOR" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:group name="cGROUP_ELEMENTS" id="copasi.cGROUP_ELEMENTS">
    <xs:choice>
      <xs:element name="Group" type="cGROUP" />
      <xs:element name="Text" type="cTEXT" />
      <xs:element name="Rectangle" type="cRECTANGLE" />
      <xs:element name="Ellipse" type="cELLIPSE" />
      <xs:element name="Polygon" type="cPOLYGON" />
      <xs:element name="Image" type="cIMAGE" />
      <xs:element name="Curve" type="cRENDER_CURVE" />
    </xs:choice>
  </xs:group>

  <xs:complexType name="cGROUP">
    <xs:complexContent>
      <xs:extension base="cGRAPHICAL_PRIMITIVE2D">
      	<xs:sequence>
         <xs:group ref="cGROUP_ELEMENTS" minOccurs="0" maxOccurs="unbounded" />
      	</xs:sequence>
        <xs:attribute name="font-family" type="cREL_ABS_VALUE" use="optional" />
        <xs:attribute name="font-size" type="cREL_ABS_VALUE" use="optional" />
        <xs:attribute name="font-style" type="cFONT_STYLE" use="optional" />
        <xs:attribute name="font-weight" type="cFONT_WEIGHT" use="optional" />
        <xs:attribute name="text-anchor" type="cTEXT_ANCHOR" use="optional" />
        <xs:attribute name="vtext-anchor" type="cVTEXT_ANCHOR" use="optional" />
        <xs:attribute name="startHead" type="cSBMLPseudoIdRef" use="optional" />
        <xs:attribute name="endHead" type="cSBMLPseudoIdRef" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="cRECTANGLE">
    <xs:complexContent>
      <xs:extension base="cGRAPHICAL_PRIMITIVE2D">
        <xs:attribute name="x" type="cREL_ABS_VALUE" use="required" />
        <xs:attribute name="y" type="cREL_ABS_VALUE" use="required" />
        <xs:attribute name="z" type="cREL_ABS_VALUE" use="optional" default="0.0" />
        <xs:attribute name="width" type="cREL_ABS_VALUE" use="required" />
        <xs:attribute name="height" type="cREL_ABS_VALUE" use="required" />
        <xs:attribute name="rx" type="cREL_ABS_VALUE" use="optional" default="0.0" />
        <xs:attribute name="ry" type="cREL_ABS_VALUE" use="optional" default="0.0" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="cELLIPSE">
    <xs:complexContent>
      <xs:extension base="cGRAPHICAL_PRIMITIVE2D">
        <xs:attribute name="cx" type="cREL_ABS_VALUE" use="required" />
        <xs:attribute name="cy" type="cREL_ABS_VALUE" use="required" />
        <xs:attribute name="cz" type="cREL_ABS_VALUE" use="optional" default="0.0" />
        <xs:attribute name="rx" type="cREL_ABS_VALUE" use="required" />
        <xs:attribute name="ry" type="cREL_ABS_VALUE" use="optional" default="0.0" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="cRENDER_CURVE_ELEMENT">
    <xs:attribute name="x" type="cREL_ABS_VALUE" use="required" />
    <xs:attribute name="y" type="cREL_ABS_VALUE" use="required" />
    <xs:attribute name="z" type="cREL_ABS_VALUE" use="optional" default="0.0" />
    <xs:attribute name="basePoint1_x" type="cREL_ABS_VALUE" use="optional" />
    <xs:attribute name="basePoint1_y" type="cREL_ABS_VALUE" use="optional" />
    <xs:attribute name="basePoint1_z" type="cREL_ABS_VALUE" use="optional" />
    <xs:attribute name="basePoint2_x" type="cREL_ABS_VALUE" use="optional" />
    <xs:attribute name="basePoint2_y" type="cREL_ABS_VALUE" use="optional" />
    <xs:attribute name="basePoint2_z" type="cREL_ABS_VALUE" use="optional" />
  </xs:complexType>
  
  <xs:complexType name="cRENDER_CURVE_ELEMENTS">
  	<xs:sequence>
  	  <xs:element name="cRENDER_CURVE_ELEMENT" minOccurs="1" maxOccurs="unbounded" />
  	</xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="cRENDER_CURVE">
    <xs:complexContent>
      <xs:extension base="cGRAPHICAL_PRIMITIVE1D">
        <xs:sequence>
          <xs:element name="ListOfElements" type="cRENDER_CURVE_ELEMENTS" />
        </xs:sequence>
        <xs:attribute name="startHead" type="cSBMLPseudoIdRef" use="optional" />
        <xs:attribute name="endHead" type="cSBMLPseudoIdRef" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="cPOLYGON">
    <xs:complexContent>
      <xs:extension base="cGRAPHICAL_PRIMITIVE2D">
        <xs:sequence>
          <xs:element name="ListOfElements" type="cRENDER_CURVE_ELEMENTS" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:simpleType name="cCOLOR_VALUE">
    <xs:restriction base="xs:string">
      <xs:pattern value="#([0-9a-f]|[0-9A-F]){8}|#([0-9a-f]|[0-9A-F]){6}" />
    </xs:restriction>	
  </xs:simpleType>
  
  <xs:simpleType name="cCOLOR_VALUE_OR_ID">
    <xs:union memberTypes="cSBMLPseudoIdRef cCOLOR_VALUE"/>
  </xs:simpleType>
  
  <xs:complexType name="cGRADIENT_STOP">
    <xs:attribute name="offset" type="cREL_ABS_VALUE" use="required" />
    <xs:attribute name="stop-color" type="cCOLOR_VALUE" use="required" />
  </xs:complexType>
  
  <xs:complexType name="cGRADIENT_BASE">
    <xs:sequence>
      <xs:element name="Stop" type="cGRADIENT_STOP" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="id" type="cSBMLPseudoId" use="required" />
  </xs:complexType>
  
  <xs:complexType name="cRADIAL_GRADIENT">
    <xs:complexContent>
      <xs:extension base="cGRADIENT_BASE">
        <xs:attribute name="cx" type="cREL_ABS_VALUE" use="optional" default="50%" />
        <xs:attribute name="cy" type="cREL_ABS_VALUE" use="optional" default="50%" />
        <xs:attribute name="cz" type="cREL_ABS_VALUE" use="optional" default="50%" />
        <xs:attribute name="r" type="cREL_ABS_VALUE" use="optional" default="50%" />
        <xs:attribute name="fx" type="cREL_ABS_VALUE" use="optional" />
        <xs:attribute name="fy" type="cREL_ABS_VALUE" use="optional" />
        <xs:attribute name="fz" type="cREL_ABS_VALUE" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="cLINEAR_GRADIENT">
    <xs:complexContent>
      <xs:extension base="cGRADIENT_BASE">
        <xs:attribute name="x1" type="cREL_ABS_VALUE" use="optional" default="0%" />
        <xs:attribute name="y1" type="cREL_ABS_VALUE" use="optional" default="0%" />
        <xs:attribute name="z1" type="cREL_ABS_VALUE" use="optional" default="0%" />
        <xs:attribute name="x2" type="cREL_ABS_VALUE" use="optional" default="100%" />
        <xs:attribute name="y2" type="cREL_ABS_VALUE" use="optional" default="100%" />
        <xs:attribute name="z2" type="cREL_ABS_VALUE" use="optional" default="100%" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:group name="cGRADIENT_GROUP" id="copasi.cGRADIENT_GROUP">
    <xs:choice>
      <xs:element name="RadialGradient" type="cRADIAL_GRADIENT" />
      <xs:element name="LinearGradient" type="cLINEAR_GRADIENT" />
    </xs:choice>
  </xs:group>
  
  <xs:complexType name="cCOLOR_DEFINITION">
    <xs:attribute name="id" type="cSBMLPseudoId" use="required" />
    <xs:attribute name="value" type="cCOLOR_VALUE" use="required" />
  </xs:complexType>
  
  <xs:complexType name="cLINE_ENDING">
    <xs:sequence>
      <xs:element name="BoundingBox" type="cBOUNDING_BOX" />
      <xs:element name="Group" type="cGROUP" />
    </xs:sequence>
    <xs:attribute name="id" type="cSBMLPseudoId" use="required" />
  </xs:complexType>
  
  <xs:complexType name="cRENDER_INFORMATION_BASE">
    <xs:sequence>
      <xs:element name="ListOfColorDefinitions" minOccurs="0">
      	<xs:complexType>
      	  <xs:sequence>
      	    <xs:element name="ColorDefinition" type="cCOLOR_DEFINITION" minOccurs="1" maxOccurs="unbounded" />
      	  </xs:sequence>
      	</xs:complexType>
     </xs:element> 	
     <xs:element name="ListOfGradientDefinitions" minOccurs="0">
      	<xs:complexType>
      	  <xs:sequence>
      	  	<xs:group ref="cGRADIENT_GROUP" minOccurs="1" maxOccurs="unbounded" />
      	  </xs:sequence>
      	</xs:complexType>
     </xs:element> 	
     <xs:element name="ListOfLineEndings" minOccurs="0">
      	<xs:complexType>
      	  <xs:sequence>
      	    <xs:element name="LineEnding" type="cLINE_ENDING" minOccurs="1" maxOccurs="unbounded" />
      	  </xs:sequence>
      	</xs:complexType>
     </xs:element> 	
    </xs:sequence>
    <xs:attribute name="backgroundColor" type="cCOLOR_VALUE" use="optional" default="#FFFFFFFF" />
    <xs:attribute name="referenceRenderInformation" type="cKEYREF" use="optional" />
    <xs:attribute name="name" type="xs:string" use="optional" />
  </xs:complexType>
  
  <xs:complexType name="cSTYLE">
    <xs:sequence>
      <xs:element name="Group" type="cGROUP" />
    </xs:sequence>
    <xs:attribute name="roleList" type="cCommaSeparatedStringList" use="optional" />
    <xs:attribute name="typeList" type="cCommaSeparatedStringList" use="optional" />
  </xs:complexType>
  
  <xs:complexType name="cGLOBAL_STYLE">
    <xs:complexContent>
      <xs:extension base="cSTYLE" />
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="cLOCAL_STYLE">
    <xs:complexContent>
      <xs:extension base="cSTYLE" >
      	<!-- actually we could be more specific here since we know that the strings are keys -->
      	<!-- but I am not sure if this is woth the trouble. -->
        <xs:attribute name="keyList" type="cCommaSeparatedStringList" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="cLOCAL_RENDER_INFORMATION">
    <xs:complexContent>
      <xs:extension base="cRENDER_INFORMATION_BASE">
        <xs:sequence>
          <xs:element name="ListOfStyles" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Style" type="cLOCAL_STYLE" minOccurs="1" maxOccurs="unbounded" />
              </xs:sequence>  
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="cGLOBAL_RENDER_INFORMATION">
    <xs:complexContent>
      <xs:extension base="cRENDER_INFORMATION_BASE">
        <xs:sequence>
          <xs:element name="ListOfStyles" minOccurs="0">
            <xs:complexType>
              <xs:sequence>	
                <xs:element name="Style" type="cGLOBAL_STYLE" minOccurs="1" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="cLIST_OF_GLOBAL_RENDER_INFORMATION">
    <xs:sequence>
      <xs:element name="RenderInformation" type="cGLOBAL_RENDER_INFORMATION" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="cLIST_OF_LOCAL_RENDER_INFORMATION">
    <xs:sequence>
      <xs:element name="RenderInformation" type="cLOCAL_RENDER_INFORMATION" />
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>
